{% extends "base.html"%}

{% block content %}
  <div id="container">
    <div class="content">
      <h1>Table of Contents</h1>
      <ul id="toc">
        <li>
           <ul>
             <li>
               <a href="web-development">Intro to web development</a>
             </li>
             <li>
               <a href="html-note">HTML note</a>
             </li>
             <li>
               <a href="css-note">CSS note</a>
             </li>
             <li>
               <a href="vim-tip">VIM tip</a>
             </li>
             <li>
               <a href="python-note">Python</a>
             </li>
             <li>
               <a href="lesson-4">Lesson4</a>
             </li>
          </ul>
        </li>
      </ul>
	  </div>
  </div>
{% endblock %}
